<div class="container pt-3 pb-5">
  <h4 class="mb-5 text-center text-sm-left">{{ 'CREATE.TITLE' | translate }}</h4>
  <form action="" class="w-100" [formGroup]="createUserForm" (ngSubmit)="submit()">
    <div class="row">

      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="input-name">{{ 'CREATE.FORM.NAME' | translate }}</label>
          <div class="input-group">
            <input
              id="input-name"
              class="form-control"
              type="text"
              formControlName="name"
            >
          </div>
          <div *ngIf="name?.invalid && (name?.touched || name?.dirty)">
            <small class="form-error-text" *ngIf="name?.errors?.['required']">
              Поле имя не может быть пустым
            </small>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="input-email">{{ 'CREATE.FORM.EMAIL' | translate }}</label>
          <div class="input-group">
            <input
              id="input-email"
              class="form-control"
              type="email"
              formControlName="email"
            >
          </div>
          <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">
            <small class="form-error-text" *ngIf="email?.errors?.['required']">
              Поле email не может быть пустым
            </small>

            <small class="form-error-text" *ngIf="email?.errors?.['email']">
              Введите корректный email
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="input-password">{{ 'CREATE.FORM.PASSWORD' | translate }}</label>
          <div class="input-group">
            <input
              id="input-password"
              class="form-control"
              type="text"
              formControlName="password"
            >
          </div>
          <div
            *ngIf="password?.invalid && (password?.touched || password?.dirty)"
            class="validation"
          >
            <small class="form-error-text" *ngIf="password?.errors?.['required']">
              Поле password не может быть пустым
            </small>

            <small class="form-error-text" *ngIf="password?.errors?.['minlength']">
              Длина вашего пароля {{password?.errors?.['minlength']['actualLength']}}. Пароль должен быть
              минимум {{password?.errors?.['minlength']['requiredLength']}} символов!
            </small>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="input-confirm-password">{{ 'CREATE.FORM.CONFIRM-PASSWORD' | translate }}</label>
          <div class="input-group">
            <input
              id="input-confirm-password"
              class="form-control"
              type="text"
              formControlName="confirmPassword"
            >
          </div>
          <div
            *ngIf="createUserForm.hasError('notSame') && (confirmPassword?.touched || confirmPassword?.dirty)"
            class="validation"
          >
            <small class="form-error-text">
              Пароли не совпадают
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="inputState">{{ 'CREATE.FORM.ROLE' | translate }}</label>
          <select id="inputState" class="form-control" formControlName="permission">
            <option selected value="">{{ 'CREATE.FORM.CHANGE-ROLE' | translate }}</option>
            <option value="admin">admin</option>
            <option value="user">user</option>
          </select>
          <div *ngIf="permission?.invalid && (permission?.touched || permission?.dirty)">
            <small class="form-error-text" *ngIf="permission?.errors?.['required']">
              Поле Роль - обязательное
            </small>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="inputState">{{ 'CREATE.FORM.AVATAR' | translate }}</label>
          <div class="custom-file mb-3">
            <input
              type="file"
              class="custom-file-input"
              id="validatedCustomFile"
              (input)="onSelectAvatar($event)"
            >
            <label class="custom-file-label" for="validatedCustomFile">{{userAvatarFile}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row" formArrayName="skills">
      <div class="col col-12 col-md-6">
        <div class="row skills-block mb-3" *ngFor="let control of skillsControls.controls; let i = index" [formGroupName]="i">
          <div class="skills-remove" (click)="removeSkillsGroup(i)"><i class="bi bi-x-circle-fill"></i></div>
          <div class="col col-12">
            <div class="form-group">
              <label for="input-email">{{ 'CREATE.FORM.EDUCATION.NAME' | translate }}</label>
              <div class="input-group">
                <input id="input-skill" class="form-control" type="text" formControlName="name">
              </div>
            </div>
          </div>
          <div class="col col-12 col-sm-6">
            <div class="form-group">
              <label for="input-email">{{ 'CREATE.FORM.EDUCATION.START-AT' | translate }}</label>
              <div class="input-group">
                <input id="input-startAt" class="form-control" type="date" formControlName="startAt">
              </div>
            </div>
          </div>
          <div class="col col-12 col-sm-6">
            <div class="form-group">
              <label for="input-email">{{ 'CREATE.FORM.EDUCATION.END-AT' | translate }}</label>
              <div class="input-group">
                <input id="input-endAge" class="form-control" type="date" formControlName="endAt" (input)="logger(control)">
              </div>
            </div>
          </div>
          <div class="col col-12" *ngIf="control.hasError('notSameDate') && (control.get('endAt')?.touched || control.get('endAt')?.dirty)">
            <div class="validation">
              <small class="form-error-text">
                Дата окончания обучения должна быть позднее даты начала!
              </small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button
              class="btn btn-dark btn-custom-block btn-block"
              type="button"
              (click)="addSkillGroup()"
            >{{ 'CREATE.FORM.EDUCATION.ADD-BUTTON' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
<!--    [disabled]="createUserForm.invalid || submitted"-->
    <div class="row mt-3">
      <div class="col col-12 d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-success btn-custom-block"

        >{{ 'CREATE.FORM.SAVE-BUTTON' | translate }}</button>
      </div>
    </div>
  </form>
</div>
