.users {
  &-table {
    th {
      font-size: .8rem;
      &.online {
        color: green;
      }

      &.offline {
        color: red;
      }
    }
  }
  &-avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}
