<div class="container pt-3">
  <h4 class="mb-5 text-center text-sm-left">Редактирование пользователя</h4>

  <form action="" class="w-100" [formGroup]="editUserForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="input-name">Имя</label>
          <div class="input-group">
            <input
              id="input-name"
              class="form-control"
              type="text"
              formControlName="name"
            >
          </div>
          <!--          <div *ngIf="name?.invalid && (name?.touched || name?.dirty)">-->
          <!--            <small class="form-error-text" *ngIf="name?.errors?.['required']">-->
          <!--              Поле имя не может быть пустым-->
          <!--            </small>-->
          <!--          </div>-->
        </div>
      </div>

      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="input-email">Email</label>
          <div class="input-group">
            <input
              id="input-email"
              class="form-control"
              type="email"
              formControlName="email"
            >
          </div>
          <!--          <div *ngIf="email?.invalid && (email?.touched || email?.dirty)">-->
          <!--            <small class="form-error-text" *ngIf="email?.errors?.['required']">-->
          <!--              Поле email не может быть пустым-->
          <!--            </small>-->

          <!--            <small class="form-error-text" *ngIf="email?.errors?.['email']">-->
          <!--              Введите корректный email-->
          <!--            </small>-->
          <!--          </div>-->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="input-password">Пароль</label>
          <div class="input-group">
            <input
              id="input-password"
              class="form-control"
              type="text"
              formControlName="password"
            >
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="input-confirm-password">Повторите пароль</label>
          <div class="input-group">
            <input
              id="input-confirm-password"
              class="form-control"
              type="text"
              formControlName="confirmPassword"
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="inputState">Роль</label>
          <select id="inputState" class="form-control" formControlName="permission">
            <option selected value="">Выбрать роль</option>
            <option value="admin">admin</option>
            <option value="user">user</option>
          </select>
          <!--          <div *ngIf="permission?.invalid && (permission?.touched || permission?.dirty)">-->
          <!--            <small class="form-error-text" *ngIf="permission?.errors?.['required']">-->
          <!--              Поле Роль - обязательное-->
          <!--            </small>-->
          <!--          </div>-->
        </div>
      </div>

      <div class="col col-12 col-md-6">
        <div class="form-group">
          <label for="inputState">Аватар пользователя</label>
          <div class="custom-file mb-3">
            <input
              type="file"
              class="custom-file-input"
              id="validatedCustomFile"
              (input)="onSelectAvatar($event)"
            >
            <label class="custom-file-label" for="validatedCustomFile">{{userAvatarFile}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row" formArrayName="skills">
      <div class="col col-12 col-md-6">
        <div class="row skills-block mb-3" *ngFor="let control of skillsControls.controls; let i = index" [formGroupName]="i">
          <div class="skills-remove" (click)="removeSkillsGroup(i)"><i class="bi bi-x-circle-fill"></i></div>
          <div class="col col-12">
            <div class="form-group">
              <label for="input-email">Место учебы</label>
              <div class="input-group">
                <input id="input-skill" class="form-control" type="text" formControlName="name">
              </div>
            </div>
          </div>
          <div class="col col-12 col-sm-6">
            <div class="form-group">
              <label for="input-email">Дата начала</label>
              <div class="input-group">
                <input id="input-startAge" class="form-control" type="date" formControlName="startAge">
              </div>
            </div>
          </div>
          <div class="col col-12 col-sm-6">
            <div class="form-group">
              <label for="input-email">Дата завершения</label>
              <div class="input-group">
                <input id="input-endAge" class="form-control" type="date" formControlName="endAge">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button
              class="btn btn-dark btn-custom-block btn-block"
              (click)="addSkillGroup()"
            >Добавить блок</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12 d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-success btn-custom-block"
          [disabled]="editUserForm.invalid || submitted"
        >Сохранить
        </button>
      </div>
    </div>
  </form>
</div>
