/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "~bootstrap-icons/font/bootstrap-icons.css";

@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';

.table td {
  min-width: 120px;
}

.table td, .table th {
  text-align: center;
}

.form {
  &-error-text {
    color: red;
  }
}

.btn-custom-block {
  @media (max-width: 768px) {
    width: 100%;
    display: block;
  }
}

.main-content {
  height: calc(100vh - 56px);
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
